A.link {
	color: blue;
	text-decoration: underline;
}
A.visited {
	color: purple;
	text-decoration: underline;
}
A.active {
	color: red;
	text-decoration: underline;
}
div.AggancioFigure
{
  color: #000000;
  float: none;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 5.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  position: static;
  text-align: LeftRight;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.AggancioFigure_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
}

.AggancioFigure_inner
{
  color: #000000;
  float: none;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 5.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: LeftRight;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Attenzione
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 13.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Attenzione_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 13.0pt;
}

.Attenzione_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Header
{
  color: #ffffff;
  font-family: "Univers 45 Light", "Arial";
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 2.83464566929134pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Header_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Header_inner
{
  color: #ffffff;
  font-family: "Univers 45 Light", "Arial";
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.importante
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 13.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.importante_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 13.0pt;
  padding-left: 5mm;
}

.importante_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.lettere
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 14.1732283464567pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.lettere_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.lettere_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.lettere_A
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 14.1732283464567pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.lettere_A_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.lettere_A_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.lettere_002b
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 14.1732283464567pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.lettere_002b_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.lettere_002b_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.lettere1
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 14.1732283464567pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.lettere1_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.lettere1_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.nota
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 13.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.nota_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 13.0pt;
}

.nota_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Numbered
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 14.1732283464567pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Numbered_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Numbered_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Numbered1
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 14.1732283464567pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Numbered1_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Numbered1_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Paragrafo
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 15.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 10.0pt;
  margin-left: 0.0pt;
  margin-right: 0pt;
  margin-top: 18.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Paragrafo_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 18.0pt;
}

.Paragrafo_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 15.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.paragrafo_0
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 17.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.paragrafo_0_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.paragrafo_0_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 17.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Paragrafo_P
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 15.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: pt;
  margin-right: 0pt;
  margin-top: 18.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Paragrafo_P_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 18.0pt;
}

.Paragrafo_P_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 15.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Paragrafo_PTOC
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 15.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 31.1811023622047pt;
  margin-right: 0pt;
  margin-top: 9.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Paragrafo_PTOC_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 9.0pt;
}

.Paragrafo_PTOC_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 15.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.ParagrafoTOC
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 15.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 31.1811023622047pt;
  margin-right: 0pt;
  margin-top: 10.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.ParagrafoTOC_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 10.0pt;
}

.ParagrafoTOC_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 15.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.riferimenti
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.riferimenti_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.riferimenti_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Sez
{
  color: #ffffff;
  font-family: "Univers 45 Light", "Arial";
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 2.83464566929134pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Sez_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Sez_inner
{
  color: #ffffff;
  font-family: "Univers 45 Light", "Arial";
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Sezione
{
  color: #ffffff;
  font-family: "Univers 45 Light", "Arial";
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 2.83464566929134pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Sezione_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Sezione_inner
{
  color: #ffffff;
  font-family: "Univers 45 Light", "Arial";
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.SOTTO_PARA
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 13.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.SOTTO_PARA_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0pt;
  margin-top: 13.0pt;
}

.SOTTO_PARA_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.SOTTO_PARATOC
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.SOTTO_PARATOC_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.SOTTO_PARATOC_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Tasselli
{
  color: #ffffff;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Tasselli_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Tasselli_inner
{
  color: #ffffff;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  position: static;
  text-align: Center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Testo
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Testo_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Testo_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.testo_cablaggi
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.testo_cablaggi_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.testo_cablaggi_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.titoletto
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 11.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.titoletto_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 11.0pt;
}

.titoletto_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Titolo_cap
{
  color: #ffffff;
  font-family: "Univers 45 Light", "Arial";
  font-size: 18.0pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 2.83464566929134pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Right;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Titolo_cap_outer
{
  margin-bottom: 0.0pt;
  margin-right: 2.83464566929134pt;
  margin-top: 0.0pt;
}

.Titolo_cap_inner
{
  color: #ffffff;
  font-family: "Univers 45 Light", "Arial";
  font-size: 18.0pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Right;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TitoloTabella
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.TitoloTabella_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.TitoloTabella_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Trattino
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 5.66929133858268pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  position: static;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Trattino_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Trattino_inner
{
  color: #000000;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  position: static;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.maiuscoletto
{
	text-transform: uppercase;
}

span.bold
{
  font-weight: bold;
}

span.Emphasis
{
  font-style: normal;
}

span.EquationVariables
{
  font-style: normal;
}

span.merl
{
  color: #000000;
  font-family: Marlett;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Sez
{
  color: #ffffff;
  font-family: "Univers 45 Light", "Verdana";
  font-size: 18.0pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Sotto
{
  color: #000000;
  font-family: "Univers 45 Light", "Arial";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.ZAPF
{
  color: #000000;
  font-family: ZapfDingbats;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

table.Format_A
{
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  padding-bottom: 4pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 6pt;
  text-align: left;
}

table.descr
{
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  padding-bottom: 4pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 4pt;
  text-align: left;
}

table.Format_B
{
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  padding-bottom: 4pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 6pt;
  text-align: center;
}

table.Esplosi
{
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  padding-bottom: 1pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 3pt;
  text-align: left;
}

table.x_staffe
{
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  padding-bottom: 3pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 3pt;
  text-align: left;
}

table.Carat_p
{
  margin-bottom: 2.0pt;
  margin-left: 2pt;
  margin-right: 2pt;
  margin-top: 2.0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: left;
}

